*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgreen;
    background-size: cover;
    height: auto;
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    /*Changed font as request of Dr.F */
}

.container{
    width: 800px;
    height: 710px;
    background: #fff;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
}

.container p{
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    color: darkgreen;
}

h1{
    text-align: center;
    font-size: medium;
}

.input, .msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid;
    font-size: 14px;
    border-radius: 5px;
}

.login .input{
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login .input:last-child{
    margin-right: 0;
}

.msg .area{
    height: 200px;
}

.btn{
    width: 250px;
    background: lightgray;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 25px;
}

.location{
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

h2{
    color: darkgreen;
}

/* css for inventory table */
table {
    width: 1000px;
    height: 500px;
}

caption {
    text-align: left;
    font-size: xx-large;
}

table, th, td {
    border: 3px solid #000;
    border-collapse: collapse;
    font-size: x-large;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(13, 151, 29, 0.645);
}

.center {
    margin-left: auto;
    margin-right: auto;
  }
